@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.button{
    width: 80px;
    height: 60px;
    margin: 8px;
    border-color: aliceblue;
    border-radius: 90px;
    cursor: pointer;
    font-size: 40px;
   background-color: rgba(51, 148, 253, 0.918);
   
}

.row{
    margin: 8px 0;
    
}

.row-input{
    cursor:default;
    width: 340px;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(5, 5, 5);
    background-color: rgba(247, 6, 6, 0.836);
    border-radius: 5px;
}